* {
  box-sizing: border-box;
}

body {
  background: #f3f5fc;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  
}


#img-logo {
  margin: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#texto-in {
  background: #f3f5fc;
  height: 300px;
  resize: none;
  margin-bottom: 10px;
  outline: none;
}

#text-out {
  background: #ffffff;
  height: 335px;
  border: none;
  outline: none;
  resize: none;
}
.alert-img {
  display: inline;
}

.text-alert {
  display: inline;
}
input[type="submit"] {
  background-color: #6b7eb1;
  color: white;
  padding: 12px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  width: 40%;
}

input[type="submit"]:hover {
  background-color: #33b4cd;
}

.container {
  padding: 10px;
  min-height: calc(100vh - 110px - 30px);
 /* min-height: calc(100vh - 110px - 120px);*/
}

.col-35 {
  float: left;
  width: 35%;
  padding-left: 20px;
  padding-right: 20px;
}

.col-65 {
  float: left;
  width: 65%;
  padding-left: 20px;
  padding-right: 20px;
}

#texto-in {
  height: 200px;
}

.text-alert::after {
  content: "";
  display: table;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn-content {
  margin-top: 15px;
  text-align: center;
}

.img-content {
  text-align: center;
  height: 480px;
}

.img-content {
  background: #ffffff;
  border-radius: 4px;
}

.img-content-center,
.btn-content-center {
  margin: 0px auto;
}

.oculto{
  display: none;
}

#text-out {
  height: 180px;
}

#btn-copy {
  width: 80%;
  background-color: #ffffff;
    color: #6b7eb1;
    border-color: #6b7eb1;
    border: 1px  solid;
}

.img-content {
  height: 300px;
}

#img-encoder-one {
  display: none;
  max-width: 200px;
  margin-top: 10px;
} 

.msjs {
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.msje1 {
  width: auto;
  height: 58px;
  padding: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #343a40;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
}

.msje2 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #495057;
  padding-top: 0;
  padding-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 10px;
}

.copyright {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .col-35,
  .col-65,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }

  .col-35,
  .col-65 {
    padding-left: 0px;
    padding-right: 0px;
  }

  #btn-copy {
    width: 90%;
    
  }

  texto-in,
  text-out {
    height: 200px;
  }
}

@media screen and (min-width: 429px) {
  #img-encoder-one {
    max-width: 150px;
    max-height: 150px;
  }
  .img-content{
    padding-top: 5px
  }

  #img-encoder-one {
    display: inline;
  }

  .msje1 {
    margin: 0px;
    padding: 0px;
    height:auto;
  }

}

@media screen and (min-width: 769px) {


.col-35,
  .col-65{
    height: 100%;
  }

  .container{
    min-height: calc(100vh - 110px - 120px);
  }

  #texto-in {
    height: 400px;
  }
  .img-content {
    height: 500px;
    padding-top: 10px;
  }

  #text-out {
    height: 375px;
  }

   #img-encoder-one {
    display: revert;
  } 
  #btn-copy {
    border: 1px solid;
  }
  footer {
    text-align: center;
    padding: 40px;
    margin-top: auto;
  }

  .copyright {
    font-size: 12px;
  }
}
